In [5]:
import pandas as pd
import numpy as np

In [6]:
myindex = ['USA', 'Canada', 'Mexico']

In [7]:
mydat a = [1776, 1867, 1821]

In [8]:
myser = pd.Series(data=mydata, index=myindex)

In [9]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [11]:
myser['USA']

1776

In [14]:
ages = {'Sam': 5, 'Frnak': 10, 'Vadim': 'Loh'}

In [16]:
m=pd.Series(ages)

In [17]:
m['Vadim']

'Loh'

In [18]:
m[2]

C:\Users\chrom\AppData\Local\Temp\ipykernel_7084\1981757748.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  m[2]

'Loh'

In [19]:
# Вымышленные данные о продажах за 1й и 2й квартал для некоторой глобальной компании в разных странах
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [20]:
sales_q1 = pd.Series(q1)

In [21]:
sales_q2 = pd.Series(q2)

In [22]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [23]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [24]:
sales_q2[0]

C:\Users\chrom\AppData\Local\Temp\ipykernel_7084\866660492.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sales_q2[0]

100

In [28]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [38]:
sales_q1

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [37]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [36]:
sales_q1

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [39]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [40]:
sales_q1 = pd.Series(q1)

In [41]:
sales_q2 = pd.Series(q2)

In [42]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [43]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [48]:
first_half = sales_q1.add(sales_q2, fill_value=0)

In [49]:
first_half.dtype

dtype('float64')